{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    {% if user.is_authenticated %}
    <form id="post-area" method="post">
        <textarea id="post-box" placeholder="What's on your mind?" cols="77" rows="10"></textarea>
        <input style="display: block" type="submit" id="submit-post">
    </form>
    {% endif %}
    TODO

    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
