{% extends "network/layout.html" %}

{% block body %}
    <form>
        <h3>New Post</h3>
            <textarea rows="15" cols="55"> </textarea>
        <br>
        <button type="submit"> Submit Post </button>
    </form>
    <hr>
    <div id="timeline">
        <h3>Your Feed</h3>
        <div class="post-area" id="all-posts-view">
            {% for post in all-posts %}
                <div class="post">
                    {{ post }}
                </div>
            {% endfor %}
        </div>
        <div class="post-area" id="following-view" hidden>
            {% for post in following-posts %}
                <div class="post">
                    {{ post }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
