html {
  background-color: teal;
}

.navbar {
  background-color: #7abfbf;

  .navbar-brand {
    font-style: italic;
    font-weight: bolder;
    color: #5a3615;
  }
}

#login-message {
  color: #5a3615;

  a {
    font-style: italic;
    color: #f1bd7f;
  }
}

#post-area {
  background-color: #64acac;
  display: grid;
  place-items: center;

  textarea {
    align-self: center;
    margin-top: 3vh;
    margin-bottom: .5vh;
    border-radius: 5px;
    border-color: #dbc2a8;
    background-color: antiquewhite;
  }

  textarea:focus {
    outline: none;
    border: 1px solid #dbc2a8;
    box-shadow: 0 0 10px #baa588;
  }

  input {
    display: block;
    color: #5a3615;
    border-color: #baa588;
    border-right-color: #f1bd7f;
    border-bottom-color: #f1bd7f;
    background-color: antiquewhite;
    border-radius: 12px;
    justify-self: right;
    font-weight: bolder;
  }

  input:hover {
    font-style: italic;
  }
}

.post-view {
  min-width: 60%;
}

hr {
  border-color: #64acac;
}

.body {
  background-color: #64acac;
  display: grid;
  place-items: center;
}

.post {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1vw;
  border: 2px solid #dbc2a8;
  border-radius: 5px;

  .username {
    color: black;
    font-size: larger;
    background-color: #dbc2a8;
    border-radius: 8px;
    padding: .5vh .5vw;
  }

  .username:hover {
    font-weight: bolder;
    text-decoration: none;
  }

  .timestamp {
    margin-left: 1vw;
    display: inline;
    font-size: smaller;
    color: #dbc2a8;
  }

  .content {
    padding-left: 1vw;
    padding-top: 3vh;
    color: #5a3615;
  }

  .likes {
    padding-left: 1vw;
    font-size: 0.9em;
    font-style: italic;
    color: #dbc2a8;
  }

  .like-button {
    background-color: #dbc2a8;
    border-color: #baa588;
    border-radius: 12px;
  }

  .edit-button {
    background-color: #dbc2a8;
    border-color: #baa588;
    border-radius: 12px;
    margin-left: 1vw;
    font-size: smaller;
  }
}

.page-area {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.page-button {
  display: inline;
  color: #5a3615;
  border-color: #baa588;
  border-right-color: #f1bd7f;
  border-bottom-color: #f1bd7f;
  background-color: antiquewhite;
  font-weight: 550;
  border-radius: 8px;
  margin-right: .5vw;
  margin-bottom: 1vh;
}

label {
  display: none;
}

// Profile
.profile-view{
  display: flex;
}
#profile-username{
  display: inline;
}

.ff-zone{
  display: flex;
  align-content: space-evenly;
  justify-self: right;
}

.profile-pic{
  display: inline-grid;
  width: 50%;
  img{
    border-radius: 50%;
  }
}
